*{
   font-family: fira code,
   'Franklin Gothic Medium',
   'Arial Narrow',
   sans-serif;
   margin: 0;
   padding: 0;
}

body{
   background-image: linear-gradient(to right, #b06cf0, #bb89e9, #ebe6f0 );
}

.divAdd{
   padding: 10px;
}

 .divLeftTodo {
   flex: 0 0 80%;
 }
 .divLeft {
   flex: 0 0 65%;
 }
 
 .divRight {
   flex: 1;
 }

  #todoList{
    padding: 0px;
    width: 50%;
    color: black;
 }
 
 li{
   list-style:none;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   font-size: 18px;
   width: 700px;
   display: inline-block;
   background-color: rgba(240, 240, 240, 0.15);
   color: white;
   margin: 1px;
   padding: 5px;
   border-radius: 5px;;
 }




input{
   margin: 6px;
   border: none;
   border-radius: 0px;
   width: 150px;
   height: 20px;
   padding: 5px;
   padding-left: 10px;
   font-size: 14px;
   border-radius: 8px;
}








.userInfo{
   color: white;
   background-color: rgba(0.95, 0.95, 0.95, 0.1);
   border-radius: 5px;
   height: 70%;
   width: 60%;
   padding: 10px;
   float:right;
   margin-right: 4px;
   margin-top: 16px;
   font-size: 16px;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#info{
   color:white;
   display: inline-block;
   margin-top: 0;
   margin-left: 15%;
   font-weight: bold;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   font-size: 20px;
}
